.main {
  display: block;
  box-sizing: border-box;
  width: 25%;
}

.wrapper {
  margin: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.headerImage {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
}

.userDetail {
  padding: 24px;
}

.userItem {
  display: flex;
}

.userItem p {
  margin: 0 0 5px 10px;
}

.actionBar {
  display: flex;
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
}

.actionButton {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  margin: 12px 0;
  color: rgba(0, 0, 0, 0.45);
  align-items: center;
  border-right: 1px solid #e8e8e8;
  &:hover {
    color: #1890ff;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    width: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
